<div th:fragment="actor" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="doc-title mdui-typo mdui-text-color-theme">按演员查找</h1>
    <div class="doc-chapter">
        <div class="mdui-textfield mdui-textfield-expandable">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe8b6;</i></button>
            <input class="mdui-textfield-input" type="text" placeholder="Search"/>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe5cd;</i></button>
        </div>
        &nbsp;&nbsp;
        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" ng-click="search()">查找</button>
    </div>
</div>
