<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>

    <link rel="stylesheet" href="/css/mdui.min.css"/>
    <link rel="stylesheet" href="/nv.d3.min.css"/>
    <link rel="stylesheet" href="http://mdui-org.b0.upaiyun.com/docs/assets/css/docs.css"/>

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="/js/mdui.min.js"></script>
    <script src="/nv.d3.min.js"></script>
    <script src="/stream_layers.js"></script>
    <script src="/homeCtrl.js"></script>

    <style>
        svg{
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>

</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-blue mdui-theme-accent-blue" ng-app="myApp" ng-controller="homeCtrl">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer'}"><i class="mdui-icon material-icons">&#xe5d2;</i></span>
        <a href="/home" class="mdui-typo-headline mdui-hidden-xs">电影小屋</a>
        <a href="/home" class="mdui-typo-title">数据仓库课设</a>
        <div class="mdui-toolbar-spacer"></div>
    </div>
</header>

<div class="mdui-drawer mdui-drawer-open" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}">

        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">&#xe569;</i>
                <div class="mdui-list-item-content">开始使用</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe313;</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a id="time" href="#" ng-click="toTime()" class="mdui-list-item mdui-ripple mdui-list-item-active">时间</a>
                <a id="name" href="#" ng-click="toName()" class="mdui-list-item mdui-rupple ">名称</a>
                <a id="director" ng-click="toDirector()" class="mdui-list-item mdui-ripple">导演</a>
                <a id="actor" ng-click="toActor()" class="mdui-list-item mdui-ripple">演员</a>
                <a id="category" ng-click="toCategory()" class="mdui-list-item mdui-ripple">类别</a>
                <a id="combine" ng-click="toCombine()" class="mdui-list-item mdui-ripple">组合查询</a>
            </div>
        </div>
    </div>


</div>

<div style="padding: 60px;" class="mdui-container doc-container">

    <div id="content">
        <div th:include="time :: time"></div>
    </div>

    <div id="compare" style="height: 600px">
        <svg></svg>
    </div>

</div>



<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
//    var test_data = stream_layers(2,128,.1).map(function(data, i) {
//        return {
//            key: (i == 1) ? 'Non-stackable Stream' + i: 'Stream' + i,
//            nonStackable: (i == 1),
//            values: data
//        };
//    });
    var test_data = [
        {
            key: 'test1',
            nonStackable: true,
            values:[
                {
                    x: '0',
                    y: '0.2'
                },
                {
                    x: '1',
                    y: '0.6'
                }
            ]
        },
        {
            key: 'test2',
            nonStackable: true,
            values:[
                {
                    x: '0',
                    y: '0.4'
                },
                {
                    x: '1',
                    y: '0.3'
                }
            ]
        }
    ];
    nv.addGraph({
        generate: function() {
            var width = $('#compare').clientWidth - 80,
                height = $('#compare').clientHeight;
            var chart = nv.models.multiBarChart()
                    .width(width)
                    .height(height)
                    .stacked(true)
                ;
            chart.dispatch.on('renderEnd', function(){
                console.log('Render Complete');
            });
            var svg = d3.select('#compare svg').datum(test_data);
            console.log('calling chart');
            svg.transition().duration(0).call(chart);
            return chart;
        },
        callback: function(graph) {
            nv.utils.windowResize(function() {
                var width = nv.utils.windowSize().width;
                var height = nv.utils.windowSize().height;
                graph.width(width).height(height);
                d3.select('#compare svg')
                    .attr('width', width)
                    .attr('height', height)
                    .transition().duration(0)
                    .call(graph);
            });
        }
    });
    /*]]>*/
</script>
</body>
</html>