<div th:fragment="time" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="doc-title mdui-typo mdui-text-color-theme">按时间查找</h1>
    <div class="doc-chapter">
        <div class="mdui-row">
            <div class="mdui-col-xs-4 mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">年</label>
                <input class="mdui-textfield-input" type="text" id="year"/>
            </div>
            <div class="mdui-col-xs-4 mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">月</label>
                <input class="mdui-textfield-input" type="text" id="month"/>
            </div>
            <div class="mdui-col-xs-4 mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">日</label>
                <input class="mdui-textfield-input" type="text" id="day"/>
            </div>
        </div>
        <br/>
        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" ng-click="search()">查找</button>
        <br/>
        <br/>
        <div class="mudi-container">
            <div class="mudi-row">
                <h1 class="doc-title mdui-typo mdui-text-color-theme">结果</h1>
                <div class="mdui-table-fluid">
                    <table class="mdui-table mdui-table-hoverable">
                        <thead>
                        <tr>
                            <th>次序</th>
                            <th>查询时间</th>
                            <th>电影数量</th>
                            <th>Mysql耗时</th>
                            <th>Hive耗时</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>2014</td>
                            <td>100</td>
                            <td>100</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2014</td>
                            <td>200</td>
                            <td>100</td>
                            <td>20</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="mdui-list" mdui-collapse="{accordion: true}">
                    <li class="mdui-collapse-item mdui-collapse-item-close">
                        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                            <div class="mdui-list-item-content">2014</div>
                            <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe313;</i>
                        </div>
                        <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                            <li class="mdui-list-item">
                                <div class="mdui-table-fluid">
                                    <table class="mdui-table">
                                        <thead>
                                        <tr>
                                            <th>电影名称</th>
                                            <th>上映时间</th>
                                            <th>导演</th>
                                            <th>评分</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>2</td>
                                            <td>2014</td>
                                            <td>200</td>
                                            <td>100</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
